<h1>Say#Goodmorning</h1>
<p>Good Morning</p>

Time is <%= Time.now%>
<br/>
It time to sleep <%= link_to "Go to Sleep", bye_Goodnight_path%>
<br/>
<form name="myform">
 <p>Enter your details <p/>
 <p><input type="text" name="fname" /> </p>
 <p><input type="text" name="lname" /> </p>
 <input type="button" name="submit" value="Submit"/>


</form>
